<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/dynamicAddFields.js"></script>
    <title>Test Case</title>
</head>
<body>
<div>
    <form action="/chapter" method="get">
        <input placeholder="Новый раздел" type="text" name="chapterName">
        <input type="submit" value="Добавить">
    </form>
</div>
<div>
    <fieldset th:each="ch : ${chapters}">
        <legend th:text="${ch.name}" />
        <form action="/testcase" method="get" th:object="${ch}">
            <input type="hidden" th:value="*{id}" name="chapterId">
            <input th:onclick="|addField('ch*{id}')|" placeholder="Новый тест-кейс" type="text" name="caseName">
            <input type="submit" value="Добавить">
            <span th:id="|ch*{id}|">
            </span>
        </form>
        <span th:each="t : ${ch.testCaseList}">
            <button th:text="${t.name}">123</button>
        </span>
    </fieldset>
</div>
</body>
</html>