<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/floatForm.css" rel="stylesheet">
    <script src="js/floatForm.js"></script>
    <title>Test Case</title>
</head>
<body>
<button class="open-button oval" onclick="openForm()">Добавить</button>
<div>
    <div class="form-popup oval" id="myForm">
        <form action="/chapter" method="get" class="form-container">
            <input class="oval" placeholder="Название раздела" type="text" name="chapterName">
            <button type="submit" class="btn oval">Add</button>
            <button type="button" class="btn cancel oval" onclick="closeForm()">Закрыть</button>
        </form>
    </div>
</div>
<div class="main-block">
    <table>
        <tr th:each="c : ${chapters}">
            <td th:text="${c.name}" />
        </tr>
    </table>
</div>
</body>
</html>